In [1]:
""" 
Author: Anna Ochab-Marcinek 
ochab@ichf.edu.pl
http://groups.ichf.edu.pl/ochab

Tested on: 
Python 3.6.10 :: Anaconda, Inc.
jupyter-notebook 6.0.3

"""

' \nAuthor: Anna Ochab-Marcinek \nochab@ichf.edu.pl\nhttp://groups.ichf.edu.pl/ochab\n\nTested on: \nPython 3.6.10 :: Anaconda, Inc.\njupyter-notebook 6.0.3\n\n'

In [2]:
exec(open('../code/TwitterCaptureMZ_GOV_PL.py').read())

Getting tweets from MZ_GOV_PL ...
Last local data file found: ../data/cor.2020.04.11.csv

,Data,Dzień,Wykryci zakażeni,Testy,Hospitalizowani,Zmarli,Kwarantanna,Nadzór,"Testy, wartości przybliżone",Kwarantanna po powrocie do kraju,Wydarzenia,Wyzdrowiali
30,3/31/20,27.0,2311.0,51419.0,1924.0,33.0,171994.0,50804.0,NaN,NaN,Kolejne restrykcje (zakaz wychodzenia młodzież...,NaN
31,4/1/20,28.0,2554.0,55801.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
32,4/2/20,29.0,2946.0,61178.0,2317.0,57.0,183095.0,48039.0,NaN,NaN,NaN,NaN
33,4/3/20,30.0,3383.0,66938.0,2158.0,71.0,174997.0,44491.0,NaN,NaN,NaN,NaN
34,4/4/20,31.0,3627.0,72901.0,2303.0,79.0,160587.0,41146.0,NaN,NaN,NaN,116.0
35,4/5/20,32.0,4102.0,80757.0,2434.0,94.0,131888.0,38157.0,NaN,NaN,NaN,134.0
36,4/6/20,33.0,4413.0,85467.0,2444.0,107.0,143256.0,37295.0,NaN,NaN,NaN,162.0
37,4/7/20,34.0,4666.0,92215.0,2476.0,129.0,148130.0,36391.0,NaN,NaN,NaN,191.0
38,4/8/20,35.0,5205.0,99284.0,2425.0,159.0,153390.0,33273.0,NaN,NaN,NaN,222.0
39,4/9/20,36.0,5575.0,107597.0,2473.0,174.0,152898.0,33989.0,NaN,NaN,NaN,284.0
40,4/10/20,37.0,5955.0,118295.0,2409.0,181.0,158663.0,33879.0,NaN,NaN,NaN,318.0
41,4/11/20,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,4/12/20,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,4/13/20,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,4/14/20,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Captured data written to local data file: ../twitter_captured_data/TCcdMZ_GOV_PL.2020.04.11.csv

                 time  confirmed  deaths
0 2020-04-10 17:03:04       5955     181
1 2020-04-10 10:02:37       5742     175
2 2020-04-09 17:05:37       5575     174
3 2020-04-09 10:12:07       5341     164
4 2020-04-08 18:28:01       5205     159
5 2020-04-08 10:00:57       5000     136
6 2020-04-07 17:51:51       4666     129

Update written to local data file: ../data/cor.2020.04.11.csv

,Data,Dzień,Wykryci zakażeni,Testy,Hospitalizowani,Zmarli,Kwarantanna,Nadzór,"Testy, wartości przybliżone",Kwarantanna po powrocie do kraju,Wydarzenia,Wyzdrowiali
30,3/31/20,27.0,2311.0,51419.0,1924.0,33.0,171994.0,50804.0,NaN,NaN,Kolejne restrykcje (zakaz wychodzenia młodzież...,NaN
31,4/1/20,28.0,2554.0,55801.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
32,4/2/20,29.0,2946.0,61178.0,2317.0,57.0,183095.0,48039.0,NaN,NaN,NaN,NaN
33,4/3/20,30.0,3383.0,66938.0,2158.0,71.0,174997.0,44491.0,NaN,NaN,NaN,NaN
34,4/4/20,31.0,3627.0,72901.0,2303.0,79.0,160587.0,41146.0,NaN,NaN,NaN,116.0
35,4/5/20,32.0,4102.0,80757.0,2434.0,94.0,131888.0,38157.0,NaN,NaN,NaN,134.0
36,4/6/20,33.0,4413.0,85467.0,2444.0,107.0,143256.0,37295.0,NaN,NaN,NaN,162.0
37,4/7/20,34.0,4666.0,92215.0,2476.0,129.0,148130.0,36391.0,NaN,NaN,NaN,191.0
38,4/8/20,35.0,5205.0,99284.0,2425.0,159.0,153390.0,33273.0,NaN,NaN,NaN,222.0
39,4/9/20,36.0,5575.0,107597.0,2473.0,174.0,152898.0,33989.0,NaN,NaN,NaN,284.0
40,4/10/20,37.0,5955.0,118295.0,2409.0,181.0,158663.0,33879.0,NaN,NaN,NaN,318.0
41,4/11/20,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,4/12/20,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,4/13/20,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,4/14/20,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
exec(open('../code/TwitterCaptureImagesTestedMZ_GOV_PL.py').read())

Getting tweets from MZ_GOV_PL ...
Last local data file found: ../data/cor.2020.04.11.csv

,Data,Dzień,Wykryci zakażeni,Testy,Hospitalizowani,Zmarli,Kwarantanna,Nadzór,"Testy, wartości przybliżone",Kwarantanna po powrocie do kraju,Wydarzenia,Wyzdrowiali
30,3/31/20,27.0,2311.0,51419.0,1924.0,33.0,171994.0,50804.0,NaN,NaN,Kolejne restrykcje (zakaz wychodzenia młodzież...,NaN
31,4/1/20,28.0,2554.0,55801.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
32,4/2/20,29.0,2946.0,61178.0,2317.0,57.0,183095.0,48039.0,NaN,NaN,NaN,NaN
33,4/3/20,30.0,3383.0,66938.0,2158.0,71.0,174997.0,44491.0,NaN,NaN,NaN,NaN
34,4/4/20,31.0,3627.0,72901.0,2303.0,79.0,160587.0,41146.0,NaN,NaN,NaN,116.0
35,4/5/20,32.0,4102.0,80757.0,2434.0,94.0,131888.0,38157.0,NaN,NaN,NaN,134.0
36,4/6/20,33.0,4413.0,85467.0,2444.0,107.0,143256.0,37295.0,NaN,NaN,NaN,162.0
37,4/7/20,34.0,4666.0,92215.0,2476.0,129.0,148130.0,36391.0,NaN,NaN,NaN,191.0
38,4/8/20,35.0,5205.0,99284.0,2425.0,159.0,153390.0,33273.0,NaN,NaN,NaN,222.0
39,4/9/20,36.0,5575.0,107597.0,2473.0,174.0,152898.0,33989.0,NaN,NaN,NaN,284.0
40,4/10/20,37.0,5955.0,118295.0,2409.0,181.0,158663.0,33879.0,NaN,NaN,NaN,318.0
41,4/11/20,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,4/12/20,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,4/13/20,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,4/14/20,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Captured images written to local directory ../twitter_images/
Captured data written to local data file: ../twitter_captured_data/TCTestedMZ_GOV_PL.2020.04.11.csv

                 time  tested
0 2020-04-10 13:01:42  118295
1 2020-04-09 13:05:37  107597
2 2020-04-08 13:30:30   99284

Update written to local data file: ../data/cor.2020.04.11.csv

,Data,Dzień,Wykryci zakażeni,Testy,Hospitalizowani,Zmarli,Kwarantanna,Nadzór,"Testy, wartości przybliżone",Kwarantanna po powrocie do kraju,Wydarzenia,Wyzdrowiali
30,3/31/20,27.0,2311.0,51419.0,1924.0,33.0,171994.0,50804.0,NaN,NaN,Kolejne restrykcje (zakaz wychodzenia młodzież...,NaN
31,4/1/20,28.0,2554.0,55801.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
32,4/2/20,29.0,2946.0,61178.0,2317.0,57.0,183095.0,48039.0,NaN,NaN,NaN,NaN
33,4/3/20,30.0,3383.0,66938.0,2158.0,71.0,174997.0,44491.0,NaN,NaN,NaN,NaN
34,4/4/20,31.0,3627.0,72901.0,2303.0,79.0,160587.0,41146.0,NaN,NaN,NaN,116.0
35,4/5/20,32.0,4102.0,80757.0,2434.0,94.0,131888.0,38157.0,NaN,NaN,NaN,134.0
36,4/6/20,33.0,4413.0,85467.0,2444.0,107.0,143256.0,37295.0,NaN,NaN,NaN,162.0
37,4/7/20,34.0,4666.0,92215.0,2476.0,129.0,148130.0,36391.0,NaN,NaN,NaN,191.0
38,4/8/20,35.0,5205.0,99284.0,2425.0,159.0,153390.0,33273.0,NaN,NaN,NaN,222.0
39,4/9/20,36.0,5575.0,107597.0,2473.0,174.0,152898.0,33989.0,NaN,NaN,NaN,284.0
40,4/10/20,37.0,5955.0,118295.0,2409.0,181.0,158663.0,33879.0,NaN,NaN,NaN,318.0
41,4/11/20,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,4/12/20,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,4/13/20,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,4/14/20,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
exec(open('../code/TwitterCaptureImagesHQSR-MZ_GOV_PL.py').read())

Getting tweets from MZ_GOV_PL ...
Last local data file found: ../data/cor.2020.04.11.csv

,Data,Dzień,Wykryci zakażeni,Testy,Hospitalizowani,Zmarli,Kwarantanna,Nadzór,"Testy, wartości przybliżone",Kwarantanna po powrocie do kraju,Wydarzenia,Wyzdrowiali
30,3/31/20,27.0,2311.0,51419.0,1924.0,33.0,171994.0,50804.0,NaN,NaN,Kolejne restrykcje (zakaz wychodzenia młodzież...,NaN
31,4/1/20,28.0,2554.0,55801.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
32,4/2/20,29.0,2946.0,61178.0,2317.0,57.0,183095.0,48039.0,NaN,NaN,NaN,NaN
33,4/3/20,30.0,3383.0,66938.0,2158.0,71.0,174997.0,44491.0,NaN,NaN,NaN,NaN
34,4/4/20,31.0,3627.0,72901.0,2303.0,79.0,160587.0,41146.0,NaN,NaN,NaN,116.0
35,4/5/20,32.0,4102.0,80757.0,2434.0,94.0,131888.0,38157.0,NaN,NaN,NaN,134.0
36,4/6/20,33.0,4413.0,85467.0,2444.0,107.0,143256.0,37295.0,NaN,NaN,NaN,162.0
37,4/7/20,34.0,4666.0,92215.0,2476.0,129.0,148130.0,36391.0,NaN,NaN,NaN,191.0
38,4/8/20,35.0,5205.0,99284.0,2425.0,159.0,153390.0,33273.0,NaN,NaN,NaN,222.0
39,4/9/20,36.0,5575.0,107597.0,2473.0,174.0,152898.0,33989.0,NaN,NaN,NaN,284.0
40,4/10/20,37.0,5955.0,118295.0,2409.0,181.0,158663.0,33879.0,NaN,NaN,NaN,318.0
41,4/11/20,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,4/12/20,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,4/13/20,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,4/14/20,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Captured images written to local directory ../twitter_images/
Captured data written to local data file: ../twitter_captured_data/TChqsrMZ_GOV_PL.2020.04.11.csv

                 time  hospitalized  quarantined  supervised  recovered
0 2020-04-10 09:30:12        2409.0     158663.0     33879.0      318.0
1 2020-04-09 09:01:01        2473.0     152898.0     33989.0      284.0
2 2020-04-08 12:09:51        2425.0     153390.0     33273.0      222.0

Update written to local data file: ../data/cor.2020.04.11.csv

,Data,Dzień,Wykryci zakażeni,Testy,Hospitalizowani,Zmarli,Kwarantanna,Nadzór,"Testy, wartości przybliżone",Kwarantanna po powrocie do kraju,Wydarzenia,Wyzdrowiali
30,3/31/20,27.0,2311.0,51419.0,1924.0,33.0,171994.0,50804.0,NaN,NaN,Kolejne restrykcje (zakaz wychodzenia młodzież...,NaN
31,4/1/20,28.0,2554.0,55801.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN
32,4/2/20,29.0,2946.0,61178.0,2317.0,57.0,183095.0,48039.0,NaN,NaN,NaN,NaN
33,4/3/20,30.0,3383.0,66938.0,2158.0,71.0,174997.0,44491.0,NaN,NaN,NaN,NaN
34,4/4/20,31.0,3627.0,72901.0,2303.0,79.0,160587.0,41146.0,NaN,NaN,NaN,116.0
35,4/5/20,32.0,4102.0,80757.0,2434.0,94.0,131888.0,38157.0,NaN,NaN,NaN,134.0
36,4/6/20,33.0,4413.0,85467.0,2444.0,107.0,143256.0,37295.0,NaN,NaN,NaN,162.0
37,4/7/20,34.0,4666.0,92215.0,2476.0,129.0,148130.0,36391.0,NaN,NaN,NaN,191.0
38,4/8/20,35.0,5205.0,99284.0,2425.0,159.0,153390.0,33273.0,NaN,NaN,NaN,222.0
39,4/9/20,36.0,5575.0,107597.0,2473.0,174.0,152898.0,33989.0,NaN,NaN,NaN,284.0
40,4/10/20,37.0,5955.0,118295.0,2409.0,181.0,158663.0,33879.0,NaN,NaN,NaN,318.0
41,4/11/20,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,4/12/20,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,4/13/20,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,4/14/20,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN